<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top" bgcolor="#7c210e" style="background-color:#7c210e;"><br>
    <br>
    <table width="600" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; padding:0px 15px 0px 15px;">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="left" valign="top" style="font-size:13px; font-family:Arial, Helvetica, sans-serif; color:#000000;">
              <div style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:72px; color:#95160a;">
                <i>Hello <span th:text="${user.getName()}"></span> <span
                        th:text="${user.getLastName()}"></span>!</i></div>
              <div style="font-size:24px; color:#95160a;">
                Предупреждение! Вы не зарегестрированы: </div>
              <div style="font-size:16px;"><br>
                На ваш email:<span th:text="${user.getEmail()}"></span> было отправленно
                сообщение об ошибке регистрации.
                </div>

                <div><br>
                  <span th:text="${requestDto.getMessage()}"></span><br>
                  <br>
                  Сервис отправитель: <span th:text="${requestDto.getServiceName()}"></span> <br>

                  <br>
              </div></td>
            </tr>
          </table></td>
      </tr>
  </table>
    <br>
    <br></td>
  </tr>
</table>
</body>
</html>
